{
    "openapi": "3.1.0",
    "info": {
        "title": "L-GEVITY Public API",
        "summary": "REST facade for external developer access to L-GEVITY biometric and intervention engine products.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.l-gevity.nl",
            "description": "Production API facade"
        },
        {
            "url": "https://api.acceptance.l-gevity.nl",
            "description": "Acceptance API facade"
        }
    ],
    "tags": [
        {
            "name": "health",
            "description": "Unauthenticated platform health."
        },
        {
            "name": "manifest",
            "description": "Public API product and input metadata."
        },
        {
            "name": "biometrics",
            "description": "Biometric engine product API."
        },
        {
            "name": "interventions",
            "description": "Intervention engine product API."
        }
    ],
    "paths": {
        "/health": {
            "get": {
                "tags": [
                    "health"
                ],
                "operationId": "getHealth",
                "summary": "Check API facade health.",
                "security": [],
                "responses": {
                    "200": {
                        "description": "The facade is reachable.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Health"
                                }
                            }
                        }
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                }
            }
        },
        "/v1/manifest": {
            "get": {
                "tags": [
                    "manifest"
                ],
                "operationId": "getManifest",
                "summary": "Get public API manifest.",
                "description": "Returns supported products, scope, billable unit, and supported biometric inputs for client validation and documentation. This endpoint returns metadata only and never returns partner or user data.",
                "security": [],
                "responses": {
                    "200": {
                        "description": "Public API manifest.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicManifest"
                                }
                            }
                        }
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                }
            }
        },
        "/v1/biometric-assessments": {
            "post": {
                "tags": [
                    "biometrics"
                ],
                "operationId": "createBiometricAssessment",
                "summary": "Create a biometric assessment.",
                "description": "Billable product operation for `biometric-engine-v1`.",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BiometricAssessmentCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Assessment created.",
                        "headers": {
                            "Location": {
                                "$ref": "#/components/headers/Location"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BiometricAssessment"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                }
            }
        },
        "/v1/intervention-recommendations": {
            "post": {
                "tags": [
                    "interventions"
                ],
                "operationId": "createInterventionRecommendations",
                "summary": "Create ranked intervention recommendations.",
                "description": "Billable product operation for `intervention-engine-v1`.",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/InterventionRecommendationCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Recommendations created.",
                        "headers": {
                            "Location": {
                                "$ref": "#/components/headers/Location"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InterventionRecommendationResult"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "ApiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "X-Api-Key",
                "description": "Opaque product API key issued from the authenticated member account."
            }
        },
        "headers": {
            "Location": {
                "schema": {
                    "type": "string",
                    "format": "uri-reference"
                }
            }
        },
        "responses": {
            "BadRequest": {
                "description": "Malformed request.",
                "content": {
                    "application/problem+json": {
                        "schema": {
                            "$ref": "#/components/schemas/Problem"
                        }
                    }
                }
            },
            "Unauthorized": {
                "description": "Missing or invalid credentials.",
                "content": {
                    "application/problem+json": {
                        "schema": {
                            "$ref": "#/components/schemas/Problem"
                        }
                    }
                }
            },
            "Forbidden": {
                "description": "The credential is valid but is disabled.",
                "content": {
                    "application/problem+json": {
                        "schema": {
                            "$ref": "#/components/schemas/Problem"
                        }
                    }
                }
            },
            "NotFound": {
                "description": "Resource not found.",
                "content": {
                    "application/problem+json": {
                        "schema": {
                            "$ref": "#/components/schemas/Problem"
                        }
                    }
                }
            },
            "UnprocessableEntity": {
                "description": "Request body is syntactically valid but semantically invalid.",
                "content": {
                    "application/problem+json": {
                        "schema": {
                            "$ref": "#/components/schemas/Problem"
                        }
                    }
                }
            },
            "ServiceUnavailable": {
                "description": "Temporary dependency outage.",
                "content": {
                    "application/problem+json": {
                        "schema": {
                            "$ref": "#/components/schemas/Problem"
                        }
                    }
                }
            }
        },
        "schemas": {
            "Health": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "status",
                    "checkedAt"
                ],
                "properties": {
                    "status": {
                        "type": "string",
                        "enum": [
                            "ok"
                        ]
                    },
                    "checkedAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "Problem": {
                "type": "object",
                "additionalProperties": true,
                "required": [
                    "type",
                    "title",
                    "status"
                ],
                "properties": {
                    "type": {
                        "type": "string",
                        "format": "uri-reference"
                    },
                    "title": {
                        "type": "string"
                    },
                    "status": {
                        "type": "integer",
                        "minimum": 400,
                        "maximum": 599
                    },
                    "detail": {
                        "type": "string"
                    },
                    "instance": {
                        "type": "string",
                        "format": "uri-reference"
                    },
                    "requestId": {
                        "type": "string"
                    }
                }
            },
            "ProductId": {
                "type": "string",
                "enum": [
                    "biometric-engine-v1",
                    "intervention-engine-v1"
                ]
            },
            "Scope": {
                "type": "string",
                "enum": [
                    "product:call"
                ]
            },
            "PublicManifest": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "apiVersion",
                    "generatedAt",
                    "products",
                    "biomarkers"
                ],
                "properties": {
                    "apiVersion": {
                        "type": "string"
                    },
                    "generatedAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "products": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicProduct"
                        }
                    },
                    "biomarkers": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/BiomarkerManifestItem"
                        }
                    }
                }
            },
            "PublicProduct": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "id",
                    "name",
                    "scopes",
                    "billableUnit",
                    "operations"
                ],
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/ProductId"
                    },
                    "name": {
                        "type": "string"
                    },
                    "scopes": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Scope"
                        }
                    },
                    "billableUnit": {
                        "type": "string",
                        "enum": [
                            "successful_product_call"
                        ]
                    },
                    "operations": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "BiomarkerManifestItem": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "code",
                    "name",
                    "units",
                    "valueType"
                ],
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "units": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "valueType": {
                        "type": "string",
                        "enum": [
                            "number",
                            "string",
                            "boolean"
                        ]
                    }
                }
            },
            "BiomarkerInput": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "code",
                    "value"
                ],
                "properties": {
                    "code": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 120
                    },
                    "value": {
                        "oneOf": [
                            {
                                "type": "number"
                            },
                            {
                                "type": "string"
                            },
                            {
                                "type": "boolean"
                            }
                        ]
                    },
                    "unit": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 40
                    },
                    "measuredAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "BiometricAssessmentCreate": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "biomarkers"
                ],
                "properties": {
                    "biomarkers": {
                        "type": "array",
                        "minItems": 1,
                        "maxItems": 100,
                        "items": {
                            "$ref": "#/components/schemas/BiomarkerInput"
                        }
                    }
                }
            },
            "BiometricAssessment": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "id",
                    "createdAt",
                    "productId",
                    "billableUnits",
                    "biologicalValue",
                    "dataCurrency",
                    "riskBands",
                    "engineResult"
                ],
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "productId": {
                        "const": "biometric-engine-v1"
                    },
                    "billableUnits": {
                        "type": "integer",
                        "minimum": 1
                    },
                    "biologicalValue": {
                        "type": "number"
                    },
                    "dataCurrency": {
                        "type": "number"
                    },
                    "riskBands": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/RiskBand"
                        }
                    },
                    "engineResult": {
                        "$ref": "#/components/schemas/BiometricEngineResult"
                    }
                }
            },
            "BiometricEngineResult": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "metrics",
                    "metadata"
                ],
                "properties": {
                    "metrics": {
                        "$ref": "#/components/schemas/BiometricValueMap"
                    },
                    "metadata": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "riskReductions": {
                        "$ref": "#/components/schemas/NumberMap"
                    },
                    "scores": {
                        "$ref": "#/components/schemas/NumberMap"
                    },
                    "percentiles": {
                        "$ref": "#/components/schemas/NumberMap"
                    },
                    "ageDeltas": {
                        "$ref": "#/components/schemas/NumberMap"
                    },
                    "impactScores": {
                        "$ref": "#/components/schemas/NumberMap"
                    },
                    "oddsRatios": {
                        "$ref": "#/components/schemas/NumberMap"
                    },
                    "orthopedicScores": {
                        "$ref": "#/components/schemas/NumberMap"
                    },
                    "deviationFromOptimal": {
                        "$ref": "#/components/schemas/NumberMap"
                    },
                    "expectedDurations": {
                        "$ref": "#/components/schemas/NumberMap"
                    },
                    "virtualBiomarkerResults": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "virtualBiomarkerPercentiles": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "pheno": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "tierInfo": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "derivedBiometrics": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "expirations": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            },
            "BiometricValueMap": {
                "type": "object",
                "additionalProperties": {
                    "oneOf": [
                        {
                            "type": "number"
                        },
                        {
                            "type": "string"
                        },
                        {
                            "type": "boolean"
                        }
                    ]
                }
            },
            "NumberMap": {
                "type": "object",
                "additionalProperties": {
                    "type": "number"
                }
            },
            "RiskBand": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "domain",
                    "hazardRatio"
                ],
                "properties": {
                    "domain": {
                        "type": "string"
                    },
                    "hazardRatio": {
                        "type": "number"
                    }
                }
            },
            "InterventionRecommendationCreate": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "biomarkers"
                ],
                "properties": {
                    "biomarkers": {
                        "type": "array",
                        "minItems": 1,
                        "maxItems": 100,
                        "items": {
                            "$ref": "#/components/schemas/BiomarkerInput"
                        }
                    }
                }
            },
            "InterventionRecommendationResult": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "id",
                    "createdAt",
                    "productId",
                    "billableUnits",
                    "recommendations"
                ],
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "productId": {
                        "const": "intervention-engine-v1"
                    },
                    "billableUnits": {
                        "type": "integer",
                        "minimum": 1
                    },
                    "recommendations": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/InterventionRecommendation"
                        }
                    }
                }
            },
            "InterventionRecommendation": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "rank",
                    "biomarker",
                    "direction",
                    "severity",
                    "vbImpact",
                    "impactRatio",
                    "rationale",
                    "intervention"
                ],
                "properties": {
                    "rank": {
                        "type": "integer",
                        "minimum": 1
                    },
                    "biomarker": {
                        "type": "string"
                    },
                    "direction": {
                        "type": "string",
                        "enum": [
                            "lower",
                            "raise"
                        ]
                    },
                    "severity": {
                        "type": "number"
                    },
                    "vbImpact": {
                        "type": "number"
                    },
                    "impactRatio": {
                        "type": "number"
                    },
                    "rationale": {
                        "$ref": "#/components/schemas/InterventionRecommendationRationale"
                    },
                    "intervention": {
                        "$ref": "#/components/schemas/PublicIntervention"
                    }
                }
            },
            "InterventionRecommendationRationale": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "actionableRiskRelief",
                    "tierFactor"
                ],
                "properties": {
                    "actionableRiskRelief": {
                        "type": "number"
                    },
                    "tierFactor": {
                        "type": "number"
                    }
                }
            },
            "PublicIntervention": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "id",
                    "vb",
                    "biomarkers",
                    "category",
                    "labelNL",
                    "shortNL",
                    "anchor",
                    "weeksToEffect",
                    "effectSummaryNL",
                    "safetyNL",
                    "citation",
                    "evidenceTier",
                    "effectWeight"
                ],
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "vb": {
                        "type": "string"
                    },
                    "biomarkers": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "category": {
                        "type": "string"
                    },
                    "friction": {
                        "type": "string"
                    },
                    "labelNL": {
                        "type": "string"
                    },
                    "shortNL": {
                        "type": "string"
                    },
                    "anchor": {
                        "type": "string"
                    },
                    "weeksToEffect": {
                        "type": "integer"
                    },
                    "effectSummaryNL": {
                        "type": "string"
                    },
                    "safetyNL": {
                        "type": "string"
                    },
                    "citation": {
                        "type": "string"
                    },
                    "evidenceTier": {
                        "type": "integer",
                        "enum": [
                            1,
                            2,
                            3
                        ]
                    },
                    "effectWeight": {
                        "type": "integer",
                        "enum": [
                            1,
                            2,
                            3,
                            4,
                            5
                        ]
                    }
                }
            }
        }
    }
}
